@model IEnumerable<Moment3_CD.Models.CD>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Start
</h1>

<p>
    <a asp-action="Create">Skapa</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                Antal låt
            </th>
            <th>
                Publicering datum
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artists)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Album)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbrOfTracks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.Artists.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
